body,
html {
  height: 100%
}

.container {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  margin-bottom: 20;
  width: 40%;
  height: 40%;
  border-radius: 50%;
}

hr {
  margin: auto;
  width: 60%;
}